@model List<Pago>
@{
    ViewData["Title"] = "Lista de Pagos";
}

<script>
    function buscarPorId() {
        var id = document.getElementById('id').value;
        window.location.href = '@Url.Action("BusquedaId", "Pago")?id=' + id;
    }
</script>

<h1 class="text-light">@ViewData["Title"]</h1>
<h4 class="text-light">Buscar pago por ID de pago</h4>
<button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Pago")'">Mostrar Todos</button>
<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input id="id" class="form-control me-2" type="number" placeholder="Search" aria-label="Search">
            <a class="btn btn-secondary " type="submit" onclick="buscarPorId()">Buscar</a>
        </form>
    </div>
</nav>

<table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Id Pago</th>
            <th scope="col">Cuota</th>
            <th scope="col">Id del Estudiante</th>
            <th scope="col">Id de la Pensión</th>   
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Pag_id</td>
                <td>@item.Pag_cuota</td>
                <td>@item.Estudiante</td>
                <td>@item.Pension</td>
            </tr>
        }        
    </tbody>
</table>
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Regresar</a>


<p>En esta pagina se muestran los pagos</p>
