@model List<Pago>
@{
    ViewData["Title"] = "Lista de Pagos";
}
<h1 class="text-light">@ViewData["Title"]</h1>
<h4 class="text-light">Buscar pago por ID de pago</h4>
<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary " type="submit">Buscar</button>
        </form>
    </div>
</nav>

<table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Id Pago</th>
            <th scope="col">Cuota</th>
            <th scope="col">Id del Estudiante</th>
            <th scope="col">Id de la Pensión</th>   
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Pag_id</td>
                <td>@item.Pag_cuota</td>
                <td>@item.Estudiante</td>
                <td>@item.Pension</td>
                <td>
                    <a asp-action="Edit" asp-route-Pag_id="@item.Pag_id" class="btn btn-success">Pagar</a>
                </td>
            </tr>
        }        
    </tbody>
</table>
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Regresar</a>


<p>En esta pagina se muestran los pagos</p>
