@using WebColegioPagos.Models.Data;
@model List<ImpagoEstudiante>
@{
    ViewData["Title"] = "Lista de InPagos";
}

<script>
    function buscarInpagoId() {
        var id = document.getElementById('id').value;
        window.location.href = '@Url.Action("buscarInpagoId", "Pago")?id=' + id;
    }
</script>

<h1 class="text-light">@ViewData["Title"]</h1>
<button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Inpago", "Pago")'">Mostrar Todos</button>
<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <form class="d-flex" role="search" method="post">
            <input class="form-control me-2" type="number" id="id">
            <a type="submit" class="btn btn-primary" onclick="buscarInpagoId()">Buscar</a>
        </form>
    </div>
</nav>
<table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Id Estudiante</th>
            <th scope="col">Cédula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cuota Estudiante</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Est_id</td>
                <td>@item.Est_cedula</td>
                <td>@item.Est_nombre</td>
                <td>@item.cuotaActual </td>
                <td>
                    <a asp-action="Edit" asp-route-Est_id="@item.Est_id" class="btn btn-success">Pagar</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
<div class="col-6 col-md-6">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Regresar</a>
</div>


<p>En esta pagina se muestran los pagos</p>
