
@{
    ViewData["Title"] = "Lista de Estudiantes";
}
<h1 class="text-light">@ViewData["Title"]</h1>
<button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Create", "Estudiante")'">Agregar Estudiante</button>
<h4 class="text-light">Buscar estudiante por cédula</h4>
<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<table class="table table-success table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Id Estudiante</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cedula</th>
            <th scope="col">Direccion</th>
            <th scope="col">Activo</th>
            <th scope="col">Pension</th>
            <th scope="col">Accion</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Julian</td>
            <td>1710044</td>
            <td>pampa</td>
            <td>Activo</td>
            <td>Beca Estudiantil</td>
            <td>
                <button type="button" class="btn btn-outline-warning" onclick="location.href='@Url.Action("Details", "Estudiante")'"><i class="bi bi-eye-fill"></i></button>
                <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Edit", "Estudiante")'"><i class="bi bi-pencil-fill"></i></button>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("EditPago", "Estudiante")'">Estado</button>
                    <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("EditPension", "Estudiante")'">Pension</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Regresar</a>

<p>En esta pagina se muestran los estudiantes</p>
